@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #645e5c;
  color: #111010;
  font-size: 14px;
}

img {
  display: block;
}

.wrapper {
  width: 100%;
  margin: 0px auto;
  max-height: max-content;
}

.cards_wrap  {
  display: flex;
  flex-wrap: wrap;
}

/* .card_info{
    display: flex;
} */

.cards_wrap .card_item {
  width: 25%;
  padding: 10px;
  margin-top: 40px;
}

.cards_wrap .card_inner {
  background: rgb(245, 241, 241);
}

.cards_wrap .card_top {
  width: 100%;
  min-height: 225px;
  padding: 10px;
  padding-bottom: 0;
}

.cards_wrap .card_bottom {
  padding: 15px;
}

.cards_wrap .card_bottom .card_category {
  text-transform: uppercase;
  text-align: center;
}

.cards_wrap .card_bottom .card_info {
  padding: 10px;
  margin: 10px 10px;
  /* border: 0.5px dashed #243541; */
}

.cards_wrap .card_bottom .card_info .title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 5px;
}

.cards_wrap .card_bottom .card_creator {
  text-align: center;
}

@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }
  .cards_wrap .card_item {
    width: 100%;
  }
}
